<!DOCTYPE html>
<html ng-app="MyAPI_Connector">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
         <title>File Browser</title>
         
         <!-- clever canary files -->
         <link rel="stylesheet" href="https://clevercanary.github.io/ucsc-cgl-style-guide/styles/styles.css">
         <link rel="stylesheet" href="https://clevercanary.github.io/ucsc-cgl-style-guide/styles/docs.css">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         
         
         <!-- favicon -->
         <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-57x57.png" />
         <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-114x114.png" />
         <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-72x72.png" />
         <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-144x144.png" />
         <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-60x60.png" />
         <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-120x120.png" />
         <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-76x76.png" />
         <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/apple-touch-icon-152x152.png" />
         <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-196x196.png" sizes="196x196" />
         <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-96x96.png" sizes="96x96" />
         <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-32x32.png" sizes="32x32" />
         <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-16x16.png" sizes="16x16" />
         <link rel="icon" type="image/png" href="https://clevercanary.github.io/ucsc-cgl-style-guide/images/favicon/favicon-128.png" sizes="128x128" />
         <meta name="msapplication-TileColor" content="#FFFFFF" />
         <meta name="msapplication-TileImage" content="mstile-144x144.png" />
         <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
         <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
         <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
         <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
<!-- 
         <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
         <link rel="stylesheet" type="text/css" href="../mystyle.css">
         <link rel="stylesheet" href="common/css/normalize.min.css">
         <link rel="stylesheet" href="common/css/main.min.css">
         <link rel="stylesheet" href="common/css/bootstrap.min.css">
         <link rel="stylesheet" href="common/css/bootstrap-responsive.min.css">
         <link rel="stylesheet" href="common/css/elasticjs.css">
         <script src="common/lib/modernizr-2.6.1.min.js"></script>
         <script src="common/lib/underscore.min.js"></script>
 -->

         <!-- project dependency libs -->
         <script src="common/lib/angular.min.js"></script>
         <script src="elasticsearch-js/elasticsearch.js"></script>
         <script src="elasticsearch-js/elasticsearch.angular.js"></script>

         <!-- project specific files -->
         <script src="js/app.essimple.js"></script>

         <!-- manifest download -->
         <script src="common/js/filesaver.min.js"></script>

         <!-- pie chart -->
         <script src="common/js/loader.js"></script>
      </meta>
   </head>

	<style>
		/* Need to make pretty on smaller screens */
		/* table edits */
		cgl-data-table-cell{
			white-space: normal;
			word-wrap: break-word;
			padding-right: .5em;
			padding-left: .5em;
			line-height: 100%;
			width: 100%;
		}
	
	
		/* facet chooser edits */
		ul{
			list-style: none;
		}
		.nav-header{
			padding-top: 1em;
		}
		.nav{
			word-wrap: break-word;
			padding-right: .5em;
		}
	
	</style>
<!-- 
   <style>
      .button {
         border: none;
         color: black;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         margin: 1px 1px;
         cursor: pointer;
      }
      .mannifest{
         background-color: #4a8ce8 !important;
         border: 2px solid #a8e6ff;
         padding:10px;

      }
      .navig{
         background-color: #8ecbe2 !important;
         border: 2px solid #a8e6ff;
      }

      hr {
         border-width: 2px;
         margin-top: 0.25em;
         margin-bottom: 0.5em;
      }
   </style>
 -->
 
<!-- 
   <div class="imgcgl">
      <div class="imgcontainer">
         <a href="https://genomics.soe.ucsc.edu/">
            <img src="../UCSC-Logo-genomics-web-80.png" alt="University of California Santa Cruz" class="imglogo" style="padding: 10px">
         </a>
      </div>
      <div class="cglcontainer" style="float: right;">
         <a href="https://cgl.genomics.ucsc.edu/" class="text">Computational Genomics Laboratory</a>
      </div>
   </div> 
 -->
 

   <body ng-controller="API_Controller">
      <header> <!-- HTML 5 semantic element -->
         <md-toolbar> <!-- Material Design-based toolbar -->
            <md-toolbar-row> <!-- Required for correct alignment of child elements -->
               <img src="https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@1x.png" srcset="https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@2x.png 2x, https://clevercanary.github.io/ucsc-cgl-style-guide/images/logos/ucsc-gi/logo-ucsc-gi@3x.png 3x"> <!-- Use srcset to specify responsive images -->
         
               <!-- Hamburger start DOES NOT WORK: EDIT: It works now  *Carlos. -->
               <button md-icon-button menu-open>
                  <span class="md-button-wrapper">
                     <md-icon role="img" class="material-icons">menu</md-icon>
                  </span>
               </button>
               <button md-icon-button menu-close>
                  <span class="md-button-wrapper">
                     <md-icon role="img" class="material-icons">close</md-icon>
                  </span>
               </button>
               <!-- Hamburger end -->
         
               <!-- Nav start -->
               <cc-toolbar-nav>
                  <cc-toolbar-nav-item>
                     <a href="../index.html">Analysis Core</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item class="active">
                     <a href="index.html">File Browser</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="../boardwalk.html">Boardwalk</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="../redwood.html">Redwood</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="../spinnaker.html">Spinnaker</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="https://ucsc-cgl.atlassian.net/wiki/">Wiki</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="../about.html">About</a>
                  </cc-toolbar-nav-item>
                  <cc-toolbar-nav-item>
                     <a href="../help.html">Help</a>
                  </cc-toolbar-nav-item>
               </cc-toolbar-nav>
               <!-- Nav end -->
            </md-toolbar-row>
         </md-toolbar>
         <md-toolbar class="subheader" style="position:relative"> <!-- Material Design-based toolbar, note "subheader" CSS class -->
    			<md-toolbar-row> <!-- Required for correct alignment of child elements -->
        			<span class="md-title">File Browser</span>
    			</md-toolbar-row>
			</md-toolbar>
      </header>

<!-- 
   <ul class="header text">
      <li class="dropbtn"><a href="../index.html">Home</a></li>
      <!~~ <li><a href="../projects.html">Analysis Dashboard</a></li> ~~>
      <li><a href="index.html">File Browser</a></li>
      <li><a href="../boardwalk.html">Boardwalk</a></li>
      <li><a href="../redwood.html">Redwood</a></li>
      <li><a href="../spinnaker.html">Spinnaker</a></li>
      <!~~  <li><a href="../action_service/index.html">Action Service</a></li> ~~>
      <li><a href="https://ucsc-cgl.atlassian.net/wiki/">Wiki</a></li>
      <li><a href="../about.html">About</a></li>
      <li><a href="../help.html">Help</a></li>
   </ul>
 -->

   <!-- <body ng-controller="API_Controller"> -->
   
   <div class="md-body-1">
		<div class="layout-row color-patches">
			<div class="flex-20 nav color-patch cgl-green">
				<ul>
					<li class="nav-header md-body-2">Center</li>
					<div ng-repeat="item in results.centerName.terms">
						<input type="checkbox" ng-checked="hasCheck('center_name', item['term'])" ng-click="checking('center_name', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Program</li>
					<div ng-repeat="item in results.program.terms">
						<input type="checkbox" ng-checked="hasCheck('program', item['term'])" ng-click="checking('program', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Project</li>
					<div ng-repeat="item in results.projectCode.terms">
						<input type="checkbox" ng-checked="hasCheck('project', item['term'])" ng-click="checking('project', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Workflow</li>
					<div ng-repeat="item in results.workFlow.terms">
						<input type="checkbox" ng-checked="hasCheck('workflow', item['term'])" ng-click="checking('workflow', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Analysis Type</li>
					<div ng-repeat="item in results.analysisType.terms">
						<input type="checkbox" ng-checked="hasCheck('analysis_type', item['term'])"  ng-click="checking('analysis_type', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>
				
					<li class="nav-header md-body-2">Specimen Type</li>
					<div ng-repeat="item in results.specimenType.terms">
						<input type="checkbox" ng-checked="hasCheck('specimen_type', item['term'])" ng-click="checking('specimen_type', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">File Type</li>
					<div ng-repeat="item in results.fileFormat.terms">
						<input type="checkbox" ng-checked="hasCheck('file_type', item['term'])" ng-click="checking('file_type', item['term'])">
							{{item['term']}} <span class="md-body-1">{{item['count']}}</span>
						</input>
					</div>
				</ul>
		
			</div>
			<div class="flex-80">

				<center>
				<br>
				<table>
					<!-- font needs to be changed to Roboto -->
					<td id="piechartWorkflow"></td>
					<td id="piechartAnalysis"></td>
					<td id="piechartFile"></td>
				</table>
				</center>
			<hr>

		 <cgl-data-table-container> <!-- Required for hiding overflow and enabling scroll on extra small devices -->
		 <cgl-data-table>

			  <!-- Header row start -->
			  <cgl-data-table-row>
					<cgl-data-table-cell>
						 <span class="md-subhead">Project</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Donor Id</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Specimen Type</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Workflow</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Analysis Type</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">File Type</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">File Name</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">File ID</span>
					</cgl-data-table-cell>

			  </cgl-data-table-row>
			  <!-- Header row end -->

			  <cgl-data-table-row ng-repeat="item in hits">
					<cgl-data-table-cell>
						 {{item['donors'][0]['projectCode']}}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {{item['donors'][0]['donorId']}}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {{item['donors'][0]['specimenType'][0]}}
					</cgl-data-table-cell>
					<!-- Workflow is Software-->
					<cgl-data-table-cell>
						 {{item['analysisMethod']['software']}}
					</cgl-data-table-cell> 
					<cgl-data-table-cell>
						 {{item['analysisMethod']['analysisType']}}
					</cgl-data-table-cell>           
					<cgl-data-table-cell>
						 {{item['dataCategorization']['dataType']}}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {{item['fileCopies'][0]['fileName']}}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {{item['id']}}
					</cgl-data-table-cell>

			  </cgl-data-table-row>
		
		 </cgl-data-table>
		</cgl-data-table-container>

						<center>
							<div>
								<button md-raised-button class="cgl-turquoise" ng-click="refresh(-1);" ng-show="backPages"> {{back}} </span></button>
									<span placeholder="{{next}}"> <button md-raised-button class="cgl-turquoise" ng-show="nextPages" ng-click="refresh(1);">{{next}} </button>
										<span class="md-caption">Page: {{offset}} {{of}} {{poutof}}</span>
									</span>
								<button md-raised-button class="cgl-turquoise"><span ng-click="downloadfile();"><b>Download Manifest</b></span></button>
							</div>
						</center>

			</div>
		</div>
	</div>



   <!-- TESTING WOO HOO -->




   
<!-- 
   <div class="container-fluid">
      <div class="row-fluid">
         <div class="layout-row">
            <div class="flex-15">
               <div class="span2 well text">
                  <ul class="nav nav-sidebar">
                     <li class="divider"></li>

                        <li class="nav-header">Center</li>
                        <div ng-repeat="item in results.centerName.terms">
                           <input type="checkbox" ng-checked="hasCheck('center_name', item['term'])" ng-click="checking('center_name', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

   <!~~ ~~>
                        <li class="nav-header">Program</li>
                        <div ng-repeat="item in results.program.terms">
                           <input type="checkbox" ng-checked="hasCheck('program', item['term'])" ng-click="checking('program', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>
   <!~~ ~~>

                        <li class="nav-header">Project</li>
                        <div ng-repeat="item in results.projectCode.terms">
                           <input type="checkbox" ng-checked="hasCheck('project', item['term'])" ng-click="checking('project', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

                        <li class="nav-header">Workflow</li>
                        <div ng-repeat="item in results.workFlow.terms">
                           <input type="checkbox" ng-checked="hasCheck('workflow', item['term'])" ng-click="checking('workflow', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

                        <li class="nav-header">Analysis Type</li>
                        <div ng-repeat="item in results.analysisType.terms">
                           <input type="checkbox" ng-checked="hasCheck('analysis_type', item['term'])"  ng-click="checking('analysis_type', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

                        <li class="nav-header">Specimen Type</li>
                        <div ng-repeat="item in results.specimenType.terms">
                           <input type="checkbox" ng-checked="hasCheck('specimen_type', item['term'])" ng-click="checking('specimen_type', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

                        <li class="nav-header">File Type</li>
                        <div ng-repeat="item in results.fileFormat.terms">
                           <input type="checkbox" ng-checked="hasCheck('file_type', item['term'])" ng-click="checking('file_type', item['term'])">
                              {{item['term']}} <span class="muted">{{item['count']}}</span>
                           </input>
                        </div>
                        <li class="divider"></li>

                     <li class="divider"></li>
                  </ul>
               </div>
            </div>
            <div class="flex-85">

               <center>
               <table>
                  <td id="piechartWorkflow"></td>
                  <td id="piechartAnalysis"></td>
                  <td id="piechartFile"></td>
               </table>
               </center>
               <hr>



               <div class="span9 text" align="center">
                  <div class="table-responsive">
                     <table class="table table-striped">

                        <thead>
                           <tr>
                              <th>Project</th>
                              <th>Donor</th>
                              <th>Specimen Type</th>
                              <th>Analysis Type</th>
                              <th>Workflow</th>
                              <th>File Type</th>
                              <th>File</th>
                              <th>Download ID</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in hits">
                              <td>{{item['donors'][0]['projectCode']}}</td>
                              <td>{{item['donors'][0]['donorId']}}</td>
                              <td>{{item['donors'][0]['specimenType'][0]}}</td>
                              <td>{{item['dataCategorization']['dataType']}}</td>
                              <td>{{item['dataCategorization']['experimentalStrategy']}}</td>
                              <td>{{item['fileCopies'][0]['fileFormat']}}</td>
                              <td>{{item['fileCopies'][0]['fileName']}}</td>
                              <td>{{item['id']}}</td>
                           </tr>
                        </tbody>

                     </table>
                  </div>

                  <hr>

                     <center>
                        <div>
                           <button class="button text navig" ng-click="refresh(-1);" ng-show="backPages"> {{back}} </span></button>
                              <span placeholder="{{next}}"> <button class="button navig" ng-show="nextPages" ng-click="refresh(1);">{{next}} </button>
                                 Page: {{offset}} {{of}} {{poutof}}
                              </span>
                           <button class="button text mannifest"><span ng-click="downloadfile();"><b>Download Manifest</b></span></button>
                        </div>
                     </center>


               </div>
            </div>
         </div>
         <!~~ Last place where the fluid container is ~~>
      </div>
   </div>
 -->
 <!--
      <center class="text">
         <div>
            <button class="button text" ng-click="refresh(-1);" ng-show="backPages"> {{back}} </span></button>
               <span placeholder="{{next}}"> <button class="button" ng-show="nextPages" ng-click="refresh(1);">{{next}} </button>
                  Page: {{offset}} {{of}} {{poutof}}
               </span>
            <button class="button text"><span ng-click="downloadfile();">Download Manifest</span></button>
         </div>
      </center>

 -->
<!-- 
      <footer class="text">
         <section style="color: white">UCSC Genomics Institute - Analysis Core
            <ul class="header" style="float: right; font-size:50%; padding: 4px;">
               <li><a href="index.html">Home</a></li>
               <li><a href="https://ucsc-cgl.atlassian.net/wiki/">Wiki</a></li>
               <li><a href="about.html">About</a></li>
            </ul>
         </section>
      </footer>
 -->
 
      <footer>
          <div class="cgl-links layout-column layout-gt-sm-row layout-padding">

              <!-- Top row, left-hand links on small + devices -->
              <cgl-footer-nav class="layout-column layout-gt-sm-row">
                  <cgl-footer-nav-item>
                      <a href="https://www.ucsc.edu">UCSC</a>
                  </cgl-footer-nav-item>
                  <cgl-footer-nav-item>
                      <a href="https://ucscgenomics.soe.ucsc.edu/">UCSC Genomics Institute</a>
                  </cgl-footer-nav-item>
                  <cgl-footer-nav-item>
                      <a href="https://cgl.genomics.ucsc.edu/">UCSC Computational Genomics Laboratory</a>
                  </cgl-footer-nav-item>
              </cgl-footer-nav>

              <!-- Top row, right-hand links on small + devices -->
              <cgl-footer-nav class="layout-column layout-gt-sm-row">
                  <cgl-footer-nav-item>
                      <a href="#">Email</a>
                  </cgl-footer-nav-item>
                  <cgl-footer-nav-item>
                      <a href="#">Facebook</a>
                  </cgl-footer-nav-item>
                  <cgl-footer-nav-item>
                      <a href="#">Twitter</a>
                  </cgl-footer-nav-item>
              </cgl-footer-nav>

          </div>

          <!-- Copyright row -->
          <div class="cgl-disclaimer layout-column layout-gt-sm-row">
              <span>Copyright © 2016, The Regents of the University of California, Santa Cruz.</span> <span>All Rights Reserved. Apache-2.0 licence.</span>
          </div>
      </footer>

      <script type="text/javascript" src="https://clevercanary.github.io/ucsc-cgl-style-guide/scripts/cgl-hamburger.component.js"></script>
   </body>
</html>
