elasticsearch==5.2.0
elasticsearch-dsl==5.2.0
requests==2.12.4
flask==0.12.3
requests-oauthlib==0.7.0
pyopenssl==17.5.0
flask-login==0.4.0
oauth2client==4.1.2
pyasn1==0.4.2
pycrypto==2.6.1
cgp-bouncer==0.1.0
# urllib3 is required b/c otherwise the old version causes a weird error with python 2.7.9
# it is a requirement for botocore which is required by cgp-bouncer
urllib3==1.23
