{% extends "base.html" %}
{% block title  %} File Browser  {% endblock %}
{% block ng_app %} ng-app="MyAPI_Connector"{% endblock %}
{% block body_ng_controller %} ng-controller="API_Controller"{% endblock %}
{% block page_File  %} class="active"  {% endblock %}
{% block meta  %}

         <!-- project dependency libs -->
         <script src="{{url_for('static', filename='file_browser/common/lib/angular.min.js')}}"></script>
         <script src="{{url_for('static', filename='file_browser/elasticsearch-js/elasticsearch.js')}}"></script>
         <script src="{{url_for('static', filename='file_browser/elasticsearch-js/elasticsearch.angular.js')}}"></script>

         <!-- project specific files -->
         <script> 
              myVar = {{data|tojson}}
         </script>
         <script src="{{url_for('static', filename='file_browser/js/app.essimple.js')}}"></script>

         <!-- manifest download -->
         <script src="{{url_for('static', filename='file_browser/common/js/filesaver.min.js')}}"></script>

         <!-- pie chart -->
         <script src="{{url_for('static', filename='file_browser/common/js/loader.js')}}"></script>
{% endblock %}

{% block style  %}  
	<style>
		/* Need to make pretty on smaller screens */
		/* table edits */
		/* wrapword important for long strings in table */
		.wrapword{
			white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			white-space: pre-wrap;       /* css-3 */
			word-wrap: break-word;       /* Internet Explorer 5.5+ */
			white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
			word-break: break-all;
			white-space: normal;
		}
		/* 
		cgl-data-table-cell{
			white-space: normal;
			word-wrap: break-word;
			padding-right: .5em;
			padding-left: .5em;
			line-height: 100%;
			width: 100%;
		}
 */
	
		/* facet chooser edits */
		ul{
			list-style: none;
		}
		.nav-header{
			padding-top: 1em;
		}
		.nav{
			word-wrap: break-word;
			padding-right: .5em;
		}
	
	</style>
{% endblock %}

{% block header  %}
{{ super() }}
         <md-toolbar class="subheader" style="position:relative"> <!-- Material Design-based toolbar, note "subheader" CSS class -->
    			<md-toolbar-row> <!-- Required for correct alignment of child elements -->
        			<span class="md-title">Boardwalk 1.0 File Browser</span>
    			</md-toolbar-row>
			</md-toolbar>
{% endblock  %}

{% block content %}
   <div class="md-body-1">
		<div class="layout-row color-patches cgl-site flex">
			<div class="flex-20 nav color-patch cgl-green">
				<ul>
					<li class="nav-header md-body-2">Center</li>
					<div ng-repeat="item in results.centerName.terms">
						<input type="checkbox" ng-checked="hasCheck('center_name', item['term'])" ng-click="checking('center_name', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Program</li>
					<div ng-repeat="item in results.program.terms">
						<input type="checkbox" ng-checked="hasCheck('program', item['term'])" ng-click="checking('program', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Project</li>
					<div ng-repeat="item in results.projectCode.terms">
						<input type="checkbox" ng-checked="hasCheck('project', item['term'])" ng-click="checking('project', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Workflow</li>
					<div ng-repeat="item in results.workFlow.terms">
						<input type="checkbox" ng-checked="hasCheck('workflow', item['term'])" ng-click="checking('workflow', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">Analysis Type</li>
					<div ng-repeat="item in results.analysisType.terms">
						<input type="checkbox" ng-checked="hasCheck('analysis_type', item['term'])"  ng-click="checking('analysis_type', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>
				
					<li class="nav-header md-body-2">Specimen Type</li>
					<div ng-repeat="item in results.specimenType.terms">
						<input type="checkbox" ng-checked="hasCheck('specimen_type', item['term'])" ng-click="checking('specimen_type', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>

					<li class="nav-header md-body-2">File Type</li>
					<div ng-repeat="item in results.fileFormat.terms">
						<input type="checkbox" ng-checked="hasCheck('file_type', item['term'])" ng-click="checking('file_type', item['term'])">
							{- item['term'] -} <span class="md-body-1">{- item['count'] -}</span>
						</input>
					</div>
				</ul>
		
			</div>
			<div class="flex-80">

				<center>
				<br>
				<table>
					<!-- font needs to be changed to Roboto -->
					<td id="piechartWorkflow"></td>
					<td id="piechartAnalysis"></td>
					<td id="piechartFile"></td>
				</table>
				</center>
			<hr>

		 <cgl-data-table-container> <!-- Required for hiding overflow and enabling scroll on extra small devices -->
		 <cgl-data-table class="verbose">

			  <!-- Header row start -->
			  <cgl-data-table-row>
					<cgl-data-table-cell>
						 <span class="md-subhead">Program</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Project</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Submitter Donor ID</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Submitter Specimen ID</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Specimen Type</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Submitter Sample ID</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">Workflow</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 <span class="md-subhead">File Name</span>
					</cgl-data-table-cell>
					<cgl-data-table-cell>
                                                 <span class="md-subhead">File ID</span>
                                        </cgl-data-table-cell>

			  </cgl-data-table-row>
			  <!-- Header row end -->

			  <cgl-data-table-row ng-repeat="item in hits" class ="wrapword">
					<cgl-data-table-cell>
						 {- item['program'] -}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {- item['donors'][0]['projectCode'] -}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {- item['donors'][0]['submittedDonorId'] -}
					</cgl-data-table-cell>
					<!-- Workflow is Software-->
					<cgl-data-table-cell>
						 {- item['donors'][0]['submittedSpecimenId'][0] -}
					</cgl-data-table-cell> 
					<cgl-data-table-cell>
						 {- item['donors'][0]['specimenType'][0] -}
					</cgl-data-table-cell>           
					<cgl-data-table-cell>
						 {- item['donors'][0]['submittedSampleId'][0] -}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
						 {- item['analysisMethod']['software'] -}
					</cgl-data-table-cell>
					<cgl-data-table-cell>
                                                 {- item['fileCopies'][0]['fileName'] -}
                                        </cgl-data-table-cell>
					<cgl-data-table-cell>
						 {- item['id'] -}
					</cgl-data-table-cell>

			  </cgl-data-table-row>
		
		 </cgl-data-table>
		</cgl-data-table-container>

						<center>
							<div>
								<button md-raised-button class="cgl-turquoise" ng-click="refresh(-1);" ng-show="backPages"> {- back -} </span></button>
									<span placeholder="{- next -}"> <button md-raised-button class="cgl-turquoise" ng-show="nextPages" ng-click="refresh(1);">{- next -} </button>
										<span class="md-caption">Page: {- offset -} {- of -} {- poutof -}</span>
									</span>
								<button md-raised-button class="cgl-turquoise" ng-click="downloadfile();"><b>Download Manifest</b></button>
							</div>
						</center>

			</div>
		</div>
	</div>
{% endblock %}
