{% extends "base.html" %}
{% block title  %} Help  {% endblock %}
{% block page_Help  %} class="active" {% endblock  %}
{% block content %}
 			<main class="layout-column layout-padding flex">
				<section class="snap-960">
					<h1 class="md-display-1" style="color:#FF6B6B;">Help</h1>
					<h3 class="md-title">Setting up the Client</h3>
					<p class="md-body-1">You can download the Client using docker. To download the client, use from the command line:</p>
					<p class="cgl-code">docker pull quay.io/ucsc_cgl/core-client:1.0.1</p>
					<h3 class="md-title">Getting the token</h3>
					<p class="md-body-1">Please login using your UCSC Google account (your @ucsc.edu address) and download your Redwood token via the "Get Token" link.  If you see "No Token" after login please contact <a href="mailto:broconno@ucsc.edu">Brian O'Connor</a> from your UCSC email account and request one.</p>
					<h3 class="md-title">Perform Bulk Download via Manifest</h3>
					<p class="md-body-1">This assumes the current working directory (pwd) has a manifest, like the ones you can download from the <a href="file_browser.html">file browser.</a> The command below will then download the files to the current working directory.</p>
					<p class="md-body-1">NOTE: make sure you have enough space in pwd!</p>
					<p class="cgl-code">docker run --rm -e ACCESS_TOKEN=&lt;access_token&gt; -e REDWOOD_ENDPOINT=storage.ucsc-cgl.org -v `pwd`:/dcc/data quay.io/ucsc_cgl/core-client:1.0.1 redwood-download /dcc/data/manifest.tsv /dcc/data/</p>
					<p class="md-body-1">This will download the data in the current directory.</p>
					<h3 class="md-title">Upload via Spinnaker</h3>
					<p class="md-body-1">Create a manifest that links your metdata and data. Your manifest.tsv should be a TSV based on this <a href="https://docs.google.com/spreadsheets/d/13fqil92C-Evi-4cy_GTnzNMmrD0ssuSCx3-cveZ4k70/edit#gid=0">template</a>. </p>
					<p class="md-body-1">You need to include file paths to your upload files that start with /dcc/data since that's the location used in the docker run below. </p>
					<p class="md-body-1">You should create a directory where you want to have your files for upload (assumed to be pwd), place your manifest.tsv in this directory along with all your files for upload, and then execute the following:</p>
					<p class="cgl-code">docker run --rm -e ACCESS_TOKEN=&lt;access_token&gt; -e REDWOOD_ENDPOINT=storage.ucsc-cgl.org -v `pwd`:/dcc/data quay.io/ucsc_cgl/core-client:1.0.1 spinnaker-upload /dcc/data/manifest.tsv</p>
					<p class="md-body-1">Once completed, you will find a receipt file (spinnaker/output_metadata/receipt.tsv) which you should save. It provides various IDs assigned to your donor, specimen, sample and file that make it much easier to find/audit later.</p>
					<p class="md-body-1">NOTE: Uploads can take a long time and our feedback on the command line needs to be improved. You may use dstat to monitor network usage to ensure uploads are in progress.</p>
					<h3 class="md-title">Downloading Metadata</h3>
               <p class="md-body-1">You can get the latest Metadata dump by clicking <a href="{{url_for('static', filename='validated.jsonl.gz')}}" target="_blank">here</a>. </p>

				</section>
			</main>
{% endblock %}
