{% extends "base.html" %}
{% block title  %} Help  {% endblock %}
{% block page_Help  %} class="active" {% endblock  %}
{% block content %}
 			<main class="layout-column layout-padding flex">
				<section class="snap-960">
					<h1 class="md-display-1" style="color:#FF6B6B;">Help</h1>
					<h3 class="md-title">Setting up the Client</h3>
					<p class="md-body-1">You can download the Client using docker. To download the client, use from the command line:</p>
					<p class="cgl-code">docker pull quay.io/ucsc_cgl/core-client:{{coreClientVersion}}</p>
					<h3 class="md-title">Getting the token</h3>
					<p class="md-body-1">Please login using your UCSC Google account (your @ucsc.edu address) and download your Redwood token via the "GET TOKEN" link on the top right corner of the page.  If you see "No Token" after login please contact <a href="mailto:broconno@ucsc.edu">Brian O'Connor</a> from your UCSC email account and request one.</p> 
					<p class="md-body-1"> <span class="md-body-2">IMPORTANT:</span> Treat your token as you would a credit card number. Do not share or send your token around including electronic means such as e-mail, GitHub, etc. In case your token is compromised, please contact <a href="mailto:broconno@ucsc.edu">Brian O'Connor</a> as soon as possible.</p>
					<h3 class="md-title">Perform Bulk Download via Manifest</h3>
					<p class="md-body-1">This assumes the current working directory (pwd) has a manifest, like the one you can download from the <a href="file_browser.html">file browser.</a> The command below will download the files to the current working directory under the subdirectory called <span class="cgl-code">outputs</span>.</p>

					<p class="md-body-1">NOTE: make sure you have enough space in pwd!</p>
					<p class="cgl-code">docker run --rm -it -e ACCESS_TOKEN=&lt;access_token&gt; -e REDWOOD_ENDPOINT={{redwoodHost}}
								-v $(pwd)/&lt;my_manifest_file.tsv&gt;:/dcc/dcc-spinnaker-client/data/manifest.tsv  
								-v $(pwd)/samples:/samples -v $(pwd)/outputs:/outputs
								-v $(pwd):/dcc/data quay.io/ucsc_cgl/core-client:{{coreClientVersion}} 
								redwood-download /dcc/dcc-spinnaker-client/data/manifest.tsv /outputs</p>
					<h3 class="md-title">Upload via Spinnaker</h3>
					<p class="md-body-1">Create a manifest that links your metdata and data. Your manifest.tsv should be a TSV based on this <a href="https://docs.google.com/a/ucsc.edu/spreadsheets/d/1-UXlMKkEc_8F-UvFfrQoSoXpsi1pf6-amFPWXVfFECc/edit?usp=sharing">template</a>. You can hover over the column names to see more information. Here are more details about the columns that use a controlled vocabulary:</p>
					<!-- Put the table here  -->
					
					<cgl-data-table-container>
    <cgl-data-table class="verbose">

        <!-- Header row start -->
        <cgl-data-table-row>
            <cgl-data-table-cell>
                Help
            </cgl-data-table-cell>
            <cgl-data-table-cell>
                Information
            </cgl-data-table-cell>
        </cgl-data-table-row>
        <!-- Header row end -->

        <cgl-data-table-row>
            <cgl-data-table-cell>
                Submitter Donor Primary Site
            </cgl-data-table-cell>
            <cgl-data-table-cell>
                Primary site of the collected tissue associated with the file. Use the BRENDA tissue ontology. E.g. prostate would be officially "prostate gland" which corresponds to BTO:0001129. You can find it <a href="http://www.brenda-enzymes.org/ontology.php?ontology_id=3">here.</a>
            </cgl-data-table-cell>
        </cgl-data-table-row>
        <cgl-data-table-row>
            <cgl-data-table-cell>
                Submitter Specimen Type
            </cgl-data-table-cell>
            <cgl-data-table-cell>
                Describes the specimen type associated with the file. Use <span class="md-body-2">specimen.0.specimen_type.v3</span> ontology from <a href="http://docs.icgc.org/dictionary/viewer/#?viewMode=codelist">here.</a>
            </cgl-data-table-cell>
        </cgl-data-table-row>
        <cgl-data-table-row>
            <cgl-data-table-cell>
                Submitter Experimental Design
            </cgl-data-table-cell>
            <cgl-data-table-cell>               
		 This is the Experimental Design used on the particular file. Values should come from the <span class="md-body-2">GLOBAL.0.sequencing_strategy.v1</span> ontology referenced <a href="http://docs.icgc.org/dictionary/viewer/#?viewMode=codelist">here.</a>
            </cgl-data-table-cell>
        </cgl-data-table-row>
        <cgl-data-table-row>
            <cgl-data-table-cell>
                Analysis Type
            </cgl-data-table-cell>
            <cgl-data-table-cell>
               The analysis type you want to perform on the submitted file. It can be:<br><br>
		<ul>
			<li>sequence_upload</li> <li>alignment</li>   
		</ul>
            </cgl-data-table-cell>
        </cgl-data-table-row>
        <cgl-data-table-row>
            <cgl-data-table-cell>
                File Type
            </cgl-data-table-cell>
            <cgl-data-table-cell>
               The file type that will be uploaded. Values should come from <a href="http://edamontology.org/page">EDAM ontology</a>.
            </cgl-data-table-cell>
        </cgl-data-table-row>


    </cgl-data-table>
</cgl-data-table-container>
					<p class="md-body-1">You need to include file paths to your upload files that start with /samples since that's the location used in the docker run below. Columns <span class="md-body-2">Donor UUID, Specimen UUID, Sample UUID, Upload File ID, Data Bundle ID,</span> and <span class="md-body-2">Metadata.json</span> <u>should be left blank! </u> Workflow Version should be <span class="md-body-2">1.0.0</span></p>
					<p class="md-body-1">You should create a sub-directory called <span class="cgl-code">samples</span> under your current working directory (pwd) with your files to be uploaded. Your manifest.tsv should be in your current working directory (pwd). Then execute the following:</p>
			
                                        <p class="cgl-code">docker run --rm -it -e ACCESS_TOKEN=&lt;access_token&gt; -e REDWOOD_ENDPOINT={{redwoodHost}}
                                                                -v $(pwd)/&lt;my_manifest_file.tsv&gt;:/dcc/manifest.tsv
                                                                -v $(pwd)/samples:/samples -v $(pwd)/outputs:/outputs
                                                                quay.io/ucsc_cgl/core-client:{{coreClientVersion}} spinnaker-upload 
								--force-upload --skip-submit /dcc/manifest.tsv</p>	
		
					<p class="md-body-1">Once completed, you will find a receipt file (<span class="cgl-code">$(pwd)/outputs/receipt.tsv</span>) which you should save. It provides various IDs assigned to your donor, specimen, sample and file that make it much easier to find/audit later.</p>
					<p class="md-body-1">In case your upload failed and need to re-upload your files, make sure you edit the 'Workflow Version' entry by increasing it by 0.0.1. For example, if you previously uploaded a file with workflow version 1.0.1, you would modify the entry in the TSV file so the workflow version is 1.0.2 instead. In addition, make sure you save the generated receipt somewhere safe for your records, and delete the generated 'outputs' folder.</p>
					<p class="md-body-1">NOTE: You may use dstat to monitor network usage to ensure uploads are in progress.</p>
					<h3 class="md-title">Downloading Metadata</h3>
               <p class="md-body-1">You can get the latest validated Metadata dump by clicking <a href="{{url_for('static', filename='zip/validated.jsonl.gz')}}" target="_blank">here</a>. </p>
               <p class="md-body-1">You can get the latest file browser index dump by clicking <a href="{{url_for('static', filename='zip/fb_index.jsonl.gz')}}" target="_blank">here</a>. </p>

				</section>
			</main>
{% endblock %}
