{% extends "base.html" %}
{% block title %} UCSC Data Browser  {% endblock %}
{% block page_Analysis %} class="active" {% endblock %}
{% block content %}
    <main class="layout-column layout-padding flex">
        <section class="snap-960">
            <h1 class="md-display-1 center" style="color:#FF6B6B;">UCSC
                Boardwalk
                Data Browser</h1>
            <h2 class="center">Explore and Export Genomics Research Data</h2>
            <p class="md-body-1">
                The UCSC Boardwalk Data Browser is a web-based platform
                for exploring and exporting genomics data. This includes
                the metadata, and links to the actual data.
                The links come in two different formats; cloud native URLs
                such as those supported by Amazon S3 and Google Cloud Storage,
                as well as
                emerging GA4GH <a
                    href="https://github.com/ga4gh/data-object-service-schemas">Data
                Object Service</a> standard URIs.
                You can easily search for data using facets, and export
                the selected data, either locally to a manifest file or into the
                Broad Institute's
                <a href="https://bvdp-saturn-prod.appspot.com/">Saturn</a>.
            </p>
            <h3 class="center">Open Access Data</h3>
            <p class="md-body-1">
                Although the data you are browsing is open access data you need
                to log in with Google in order to view or export it.
            <h3 class="center">Exploring</h3>
            <p class="md-body-1">
                To start exploring, click the Data Browser link at the top of
                the page. You will see various boxes with filters that you can
                apply to search the data. These are known as facets. At
                the bottom of the page, there is a table showing all the
                selected data. As you filter the data, the contents of the
                table will change.
            <p class="md-body-1">By default, all data is selected when you first
                navigate to the
                data
                browser. If you want to look for particular data, you can use
                the facet boxes to do so. Depending
                on the data you are viewing, the facets you see may differ from
            those used here as examples,
                but you might see facets such as <span class="emphasis">Specimen Type</span>,
                <span class="emphasis">Center Name</span>, and <span
                        class="emphasis">File ID</span>.</p>
            <p class="md-body-1">For some
                facets, such as <span class="emphasis">Specimen Type</span>, you
                will see all
                the different values in the dataset, along with the count of the
                number of instances of
                each value. Click checkboxes of the specimen
                types that you want to view.</p>
            <p class="md-body-1">For other facets, such as the
                <span class="emphasis">File ID</span>, where every
                row has a different value, instead of clicking a checkbox, enter
                the first few characters of the File ID. A dropdown of all file
                ids matching the pattern will appear, and you can select the
                exact
                id.</p>
            </p>
            <h3 class="center">Exporting</h3>
            <p class="md-body-1">
                Once you have selected the relevant data in the data browser,
                you can export that data. You can either export the data
                to your local disk as a TSV file, or you can send the data
                to <a href="https://bvdp-saturn-prod.appspot.com/">Saturn</a>,
                for further processing in a FireCloud workspace. The data
                is sent to Saturn as a
                <a href="http://bd2k.ini.usc.edu/tools/bdbag/">BDBag</a>.
            </p>
            <p class="md-body-1">
                There are two buttons on the bottom right of the screen in the
                data browser. The upper button exports to Saturn; the lower
                button downloads the data to your local disk. Click on the
                appropriate button.
            </p>
            <h2 class="center">About the Data Browser</h2>
            <p class="md-body-1 ">
                The data browser is composed of the open source software in the
                <a href="https://github.com/DataBiosphere">DataBiosphere
                    organization</a> on GitHub.
            </p>
            <p class="md-body-1">
                <a href="https://github.com/DataBiosphere/cgp-boardwalk">Boardwalk</a>
                is the browser's web UI.
            </p>
            <p class="md-body-1">
                <a href="https://github.com/DataBiosphere/azul">Azul</a> is an
                Elastic Search indexer, as well as
                an API to access the index.
            </p>
            <p class="md-body-1">
                <a href="https://github.com/DataBiosphere/cgp-dashboard">Dashboard</a>
                handles authentication,
                authorization, and serving up static web content.
            </p>
            <p class="md-body-1">
                <a href="https://github.com/DataBiosphere/cgp-deployment">CGP-Deployment</a>
                is the deployment piece that ties all the repos together.
            </p>
        </section>
    </main>
{% endblock %}
