{% extends "base.html" %}
{% block title %} Privacy Policy  {% endblock %}
{% block page_Privacy %} class="active" {% endblock %}
{% block content %}
    <main class="layout-column layout-padding flex">
        <section class="snap-960">
            <h1 class="md-display-1" style="color:#FF6B6B;">Privacy Policy</h1>
            <p class="md-body-1">The University of California is committed to protecting the privacy and accuracy of
                your personally identifiable information to the extent possible, subject to provisions of state and
                federal law. Other than as required by laws that guarantee public access to certain types of information, or
                in response to subpoenas or other legal instruments that authorize disclosure, personally identifiable
                information is not disclosed without your consent.</p>
            <p class="md-body-1">
                We may log your IP address to help diagnose any problems, but we do not link IP addresses to anything
                personally identifiable. You can visit the UCSC Analysis Core website without identifying yourself,
                or for certain features, you may be required to login with Google. If you login, we only use the
                information verify your identity. This information is not shared with anyone.
            </p>
            <p class="md-body-1">You may encounter links to other Web sites of organizations not directly affiliated
                with the University of California. Please be aware that the University of California is not responsible
                for the information practices of external organizations. We recommend you review the privacy statements
                of each external Web site that collects personal information.</p>
        </section>
    </main>
{% endblock %}





